@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  background: #f9f9f9;
  overflow: hidden;
}

.custom-scrollbar {
  /* Show scrollbar only on hover for supported browsers */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: rgba(203, 213, 225, 0.6) transparent; /* Firefox */

  /* Hide default scrollbar for Chrome/Safari/Edge */
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 8px;
    margin: 4px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgba(203, 213, 225, 0.6);
    border-radius: 8px;
    transition: background-color 0.2s ease;

    &:hover {
      background: rgba(148, 163, 184, 0.8);
    }
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(148, 163, 184, 0.8);
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* for Internet Explorer and Edge */
  scrollbar-width: none; /* for Firefox */
}

.offer-message a {
  font-weight: 600;
  text-decoration: underline;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2; /* Limit text to 2 lines */
  line-clamp: 2; /* Standard property for compatibility */
}

.loader {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #222222;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  animation: spin 1s linear infinite;
}

.writing-vertical-lr {
  writing-mode: vertical-lr;
  text-orientation: mixed;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
